<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRegistrosHasCompaniesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRegistrosHasCompaniesEmpty}" rendered="#{registrosHasCompaniesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{registrosHasCompaniesController.items.rowCount > 0}">
                    <h:outputText value="#{registrosHasCompaniesController.pagination.pageFirstItem + 1}..#{registrosHasCompaniesController.pagination.pageLastItem + 1}/#{registrosHasCompaniesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{registrosHasCompaniesController.previous}" value="#{bundle.Previous} #{registrosHasCompaniesController.pagination.pageSize}" rendered="#{registrosHasCompaniesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{registrosHasCompaniesController.next}" value="#{bundle.Next} #{registrosHasCompaniesController.pagination.pageSize}" rendered="#{registrosHasCompaniesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{registrosHasCompaniesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistrosHasCompaniesTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistrosHasCompaniesTitle_cuentashasCompaniesid}"/>
                            </f:facet>
                            <h:outputText value="#{item.cuentashasCompaniesid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistrosHasCompaniesTitle_registrosidRegistros}"/>
                            </f:facet>
                            <h:outputText value="#{item.registrosidRegistros}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{registrosHasCompaniesController.prepareView}" value="#{bundle.ListRegistrosHasCompaniesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{registrosHasCompaniesController.prepareEdit}" value="#{bundle.ListRegistrosHasCompaniesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{registrosHasCompaniesController.destroy}" value="#{bundle.ListRegistrosHasCompaniesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{registrosHasCompaniesController.prepareCreate}" value="#{bundle.ListRegistrosHasCompaniesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListRegistrosHasCompaniesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
