<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCuentHasCompHasBalTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCuentHasCompHasBalEmpty}" rendered="#{cuentHasCompHasBalController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{cuentHasCompHasBalController.items.rowCount > 0}">
                    <h:outputText value="#{cuentHasCompHasBalController.pagination.pageFirstItem + 1}..#{cuentHasCompHasBalController.pagination.pageLastItem + 1}/#{cuentHasCompHasBalController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{cuentHasCompHasBalController.previous}" value="#{bundle.Previous} #{cuentHasCompHasBalController.pagination.pageSize}" rendered="#{cuentHasCompHasBalController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{cuentHasCompHasBalController.next}" value="#{bundle.Next} #{cuentHasCompHasBalController.pagination.pageSize}" rendered="#{cuentHasCompHasBalController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{cuentHasCompHasBalController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCuentHasCompHasBalTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCuentHasCompHasBalTitle_cuentashasCompaniesid}"/>
                            </f:facet>
                            <h:outputText value="#{item.cuentashasCompaniesid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCuentHasCompHasBalTitle_balanceid}"/>
                            </f:facet>
                            <h:outputText value="#{item.balanceid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{cuentHasCompHasBalController.prepareView}" value="#{bundle.ListCuentHasCompHasBalViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cuentHasCompHasBalController.prepareEdit}" value="#{bundle.ListCuentHasCompHasBalEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cuentHasCompHasBalController.destroy}" value="#{bundle.ListCuentHasCompHasBalDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{cuentHasCompHasBalController.prepareCreate}" value="#{bundle.ListCuentHasCompHasBalCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCuentHasCompHasBalIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
