<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditRegistrosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditRegistrosLabel_idRegistros}" for="idRegistros" />
                    <h:inputText id="idRegistros" value="#{registrosController.selected.idRegistros}" title="#{bundle.EditRegistrosTitle_idRegistros}" required="true" requiredMessage="#{bundle.EditRegistrosRequiredMessage_idRegistros}"/>
                    <h:outputLabel value="#{bundle.EditRegistrosLabel_registro}" for="registro" />
                    <h:inputText id="registro" value="#{registrosController.selected.registro}" title="#{bundle.EditRegistrosTitle_registro}" />
                    <h:outputLabel value="#{bundle.EditRegistrosLabel_fecha}" for="fecha" />
                    <h:inputText id="fecha" value="#{registrosController.selected.fecha}" title="#{bundle.EditRegistrosTitle_fecha}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                </h:panelGrid>
                <h:commandLink action="#{registrosController.update}" value="#{bundle.EditRegistrosSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditRegistrosViewLink}"/>
                <br />
                <h:commandLink action="#{registrosController.prepareList}" value="#{bundle.EditRegistrosShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditRegistrosIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
