<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRegistrosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRegistrosEmpty}" rendered="#{registrosController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{registrosController.items.rowCount > 0}">
                    <h:outputText value="#{registrosController.pagination.pageFirstItem + 1}..#{registrosController.pagination.pageLastItem + 1}/#{registrosController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{registrosController.previous}" value="#{bundle.Previous} #{registrosController.pagination.pageSize}" rendered="#{registrosController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{registrosController.next}" value="#{bundle.Next} #{registrosController.pagination.pageSize}" rendered="#{registrosController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{registrosController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistrosTitle_idRegistros}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRegistros}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistrosTitle_registro}"/>
                            </f:facet>
                            <h:outputText value="#{item.registro}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRegistrosTitle_fecha}"/>
                            </f:facet>
                            <h:outputText value="#{item.fecha}">
                                <f:convertDateTime pattern="MM/dd/yyyy" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{registrosController.prepareView}" value="#{bundle.ListRegistrosViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{registrosController.prepareEdit}" value="#{bundle.ListRegistrosEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{registrosController.destroy}" value="#{bundle.ListRegistrosDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{registrosController.prepareCreate}" value="#{bundle.ListRegistrosCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListRegistrosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
