<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPygTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPygEmpty}" rendered="#{pygController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{pygController.items.rowCount > 0}">
                    <h:outputText value="#{pygController.pagination.pageFirstItem + 1}..#{pygController.pagination.pageLastItem + 1}/#{pygController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{pygController.previous}" value="#{bundle.Previous} #{pygController.pagination.pageSize}" rendered="#{pygController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{pygController.next}" value="#{bundle.Next} #{pygController.pagination.pageSize}" rendered="#{pygController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{pygController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPygTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPygTitle_usuariosidUsuarios}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuariosidUsuarios}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPygTitle_companiesidCompanies}"/>
                            </f:facet>
                            <h:outputText value="#{item.companiesidCompanies}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{pygController.prepareView}" value="#{bundle.ListPygViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pygController.prepareEdit}" value="#{bundle.ListPygEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pygController.destroy}" value="#{bundle.ListPygDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{pygController.prepareCreate}" value="#{bundle.ListPygCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPygIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
