<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCuentasHasCompaniesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCuentasHasCompaniesLabel_id}" for="id" />
                    <h:inputText id="id" value="#{cuentasHasCompaniesController.selected.id}" title="#{bundle.EditCuentasHasCompaniesTitle_id}" required="true" requiredMessage="#{bundle.EditCuentasHasCompaniesRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditCuentasHasCompaniesLabel_cuentasidCuentas1}" for="cuentasidCuentas1" />
                    <h:selectOneMenu id="cuentasidCuentas1" value="#{cuentasHasCompaniesController.selected.cuentasidCuentas1}" title="#{bundle.EditCuentasHasCompaniesTitle_cuentasidCuentas1}" required="true" requiredMessage="#{bundle.EditCuentasHasCompaniesRequiredMessage_cuentasidCuentas1}">
                        <f:selectItems value="#{cuentasController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditCuentasHasCompaniesLabel_companiesidCompanies1}" for="companiesidCompanies1" />
                    <h:selectOneMenu id="companiesidCompanies1" value="#{cuentasHasCompaniesController.selected.companiesidCompanies1}" title="#{bundle.EditCuentasHasCompaniesTitle_companiesidCompanies1}" required="true" requiredMessage="#{bundle.EditCuentasHasCompaniesRequiredMessage_companiesidCompanies1}">
                        <f:selectItems value="#{companiesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{cuentasHasCompaniesController.update}" value="#{bundle.EditCuentasHasCompaniesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditCuentasHasCompaniesViewLink}"/>
                <br />
                <h:commandLink action="#{cuentasHasCompaniesController.prepareList}" value="#{bundle.EditCuentasHasCompaniesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditCuentasHasCompaniesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
