<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCuentasHasCompaniesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCuentasHasCompaniesLabel_id}"/>
                    <h:outputText value="#{cuentasHasCompaniesController.selected.id}" title="#{bundle.ViewCuentasHasCompaniesTitle_id}"/>
                    <h:outputText value="#{bundle.ViewCuentasHasCompaniesLabel_cuentasidCuentas1}"/>
                    <h:outputText value="#{cuentasHasCompaniesController.selected.cuentasidCuentas1}" title="#{bundle.ViewCuentasHasCompaniesTitle_cuentasidCuentas1}"/>
                    <h:outputText value="#{bundle.ViewCuentasHasCompaniesLabel_companiesidCompanies1}"/>
                    <h:outputText value="#{cuentasHasCompaniesController.selected.companiesidCompanies1}" title="#{bundle.ViewCuentasHasCompaniesTitle_companiesidCompanies1}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cuentasHasCompaniesController.destroyAndView}" value="#{bundle.ViewCuentasHasCompaniesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCuentasHasCompaniesEditLink}"/>
                <br />
                <h:commandLink action="#{cuentasHasCompaniesController.prepareCreate}" value="#{bundle.ViewCuentasHasCompaniesCreateLink}" />
                <br />
                <h:commandLink action="#{cuentasHasCompaniesController.prepareList}" value="#{bundle.ViewCuentasHasCompaniesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCuentasHasCompaniesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
