<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateBalanceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateBalanceLabel_id}" for="id" />
                    <h:inputText id="id" value="#{balanceController.selected.id}" title="#{bundle.CreateBalanceTitle_id}" required="true" requiredMessage="#{bundle.CreateBalanceRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateBalanceLabel_usuariosidUsuarios1}" for="usuariosidUsuarios1" />
                    <h:selectOneMenu id="usuariosidUsuarios1" value="#{balanceController.selected.usuariosidUsuarios1}" title="#{bundle.CreateBalanceTitle_usuariosidUsuarios1}" required="true" requiredMessage="#{bundle.CreateBalanceRequiredMessage_usuariosidUsuarios1}">
                        <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateBalanceLabel_companiesidCompanies1}" for="companiesidCompanies1" />
                    <h:selectOneMenu id="companiesidCompanies1" value="#{balanceController.selected.companiesidCompanies1}" title="#{bundle.CreateBalanceTitle_companiesidCompanies1}" required="true" requiredMessage="#{bundle.CreateBalanceRequiredMessage_companiesidCompanies1}">
                        <f:selectItems value="#{companiesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{balanceController.create}" value="#{bundle.CreateBalanceSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{balanceController.prepareList}" value="#{bundle.CreateBalanceShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateBalanceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
