<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewBalanceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewBalanceLabel_id}"/>
                    <h:outputText value="#{balanceController.selected.id}" title="#{bundle.ViewBalanceTitle_id}"/>
                    <h:outputText value="#{bundle.ViewBalanceLabel_usuariosidUsuarios1}"/>
                    <h:outputText value="#{balanceController.selected.usuariosidUsuarios1}" title="#{bundle.ViewBalanceTitle_usuariosidUsuarios1}"/>
                    <h:outputText value="#{bundle.ViewBalanceLabel_companiesidCompanies1}"/>
                    <h:outputText value="#{balanceController.selected.companiesidCompanies1}" title="#{bundle.ViewBalanceTitle_companiesidCompanies1}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{balanceController.destroyAndView}" value="#{bundle.ViewBalanceDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewBalanceEditLink}"/>
                <br />
                <h:commandLink action="#{balanceController.prepareCreate}" value="#{bundle.ViewBalanceCreateLink}" />
                <br />
                <h:commandLink action="#{balanceController.prepareList}" value="#{bundle.ViewBalanceShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewBalanceIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
