<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPygHasCuentasHasCompaniesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPygHasCuentasHasCompaniesEmpty}" rendered="#{pygHasCuentasHasCompaniesController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{pygHasCuentasHasCompaniesController.items.rowCount > 0}">
                    <h:outputText value="#{pygHasCuentasHasCompaniesController.pagination.pageFirstItem + 1}..#{pygHasCuentasHasCompaniesController.pagination.pageLastItem + 1}/#{pygHasCuentasHasCompaniesController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{pygHasCuentasHasCompaniesController.previous}" value="#{bundle.Previous} #{pygHasCuentasHasCompaniesController.pagination.pageSize}" rendered="#{pygHasCuentasHasCompaniesController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{pygHasCuentasHasCompaniesController.next}" value="#{bundle.Next} #{pygHasCuentasHasCompaniesController.pagination.pageSize}" rendered="#{pygHasCuentasHasCompaniesController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{pygHasCuentasHasCompaniesController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPygHasCuentasHasCompaniesTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPygHasCuentasHasCompaniesTitle_cuentashasCompaniesid}"/>
                            </f:facet>
                            <h:outputText value="#{item.cuentashasCompaniesid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPygHasCuentasHasCompaniesTitle_PYGid}"/>
                            </f:facet>
                            <h:outputText value="#{item.PYGid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{pygHasCuentasHasCompaniesController.prepareView}" value="#{bundle.ListPygHasCuentasHasCompaniesViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pygHasCuentasHasCompaniesController.prepareEdit}" value="#{bundle.ListPygHasCuentasHasCompaniesEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pygHasCuentasHasCompaniesController.destroy}" value="#{bundle.ListPygHasCuentasHasCompaniesDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{pygHasCuentasHasCompaniesController.prepareCreate}" value="#{bundle.ListPygHasCuentasHasCompaniesCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListPygHasCuentasHasCompaniesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
