<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPygHasCuentasHasCompaniesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPygHasCuentasHasCompaniesLabel_id}"/>
                    <h:outputText value="#{pygHasCuentasHasCompaniesController.selected.id}" title="#{bundle.ViewPygHasCuentasHasCompaniesTitle_id}"/>
                    <h:outputText value="#{bundle.ViewPygHasCuentasHasCompaniesLabel_cuentashasCompaniesid}"/>
                    <h:outputText value="#{pygHasCuentasHasCompaniesController.selected.cuentashasCompaniesid}" title="#{bundle.ViewPygHasCuentasHasCompaniesTitle_cuentashasCompaniesid}"/>
                    <h:outputText value="#{bundle.ViewPygHasCuentasHasCompaniesLabel_PYGid}"/>
                    <h:outputText value="#{pygHasCuentasHasCompaniesController.selected.PYGid}" title="#{bundle.ViewPygHasCuentasHasCompaniesTitle_PYGid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pygHasCuentasHasCompaniesController.destroyAndView}" value="#{bundle.ViewPygHasCuentasHasCompaniesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewPygHasCuentasHasCompaniesEditLink}"/>
                <br />
                <h:commandLink action="#{pygHasCuentasHasCompaniesController.prepareCreate}" value="#{bundle.ViewPygHasCuentasHasCompaniesCreateLink}" />
                <br />
                <h:commandLink action="#{pygHasCuentasHasCompaniesController.prepareList}" value="#{bundle.ViewPygHasCuentasHasCompaniesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewPygHasCuentasHasCompaniesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
