<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCuentasTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCuentasLabel_idCuentas}" for="idCuentas" />
                    <h:inputText id="idCuentas" value="#{cuentasController.selected.idCuentas}" title="#{bundle.CreateCuentasTitle_idCuentas}" required="true" requiredMessage="#{bundle.CreateCuentasRequiredMessage_idCuentas}"/>
                    <h:outputLabel value="#{bundle.CreateCuentasLabel_activo}" for="activo" />
                    <h:inputText id="activo" value="#{cuentasController.selected.activo}" title="#{bundle.CreateCuentasTitle_activo}" />
                    <h:outputLabel value="#{bundle.CreateCuentasLabel_pasivo}" for="pasivo" />
                    <h:inputText id="pasivo" value="#{cuentasController.selected.pasivo}" title="#{bundle.CreateCuentasTitle_pasivo}" />
                    <h:outputLabel value="#{bundle.CreateCuentasLabel_tipo}" for="tipo" />
                    <h:inputText id="tipo" value="#{cuentasController.selected.tipo}" title="#{bundle.CreateCuentasTitle_tipo}" />
                    <h:outputLabel value="#{bundle.CreateCuentasLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{cuentasController.selected.nombre}" title="#{bundle.CreateCuentasTitle_nombre}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cuentasController.create}" value="#{bundle.CreateCuentasSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{cuentasController.prepareList}" value="#{bundle.CreateCuentasShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCuentasIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
