<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUsuariosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_idUsuarios}" for="idUsuarios" />
                    <h:inputText id="idUsuarios" value="#{usuariosController.selected.idUsuarios}" title="#{bundle.EditUsuariosTitle_idUsuarios}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_idUsuarios}"/>
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_user}" for="user" />
                    <h:inputText id="user" value="#{usuariosController.selected.user}" title="#{bundle.EditUsuariosTitle_user}" />
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_pass}" for="pass" />
                    <h:inputText id="pass" value="#{usuariosController.selected.pass}" title="#{bundle.EditUsuariosTitle_pass}" />
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_companiesidCompanies}" for="companiesidCompanies" />
                    <h:selectOneMenu id="companiesidCompanies" value="#{usuariosController.selected.companiesidCompanies}" title="#{bundle.EditUsuariosTitle_companiesidCompanies}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_companiesidCompanies}">
                        <f:selectItems value="#{companiesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{usuariosController.update}" value="#{bundle.EditUsuariosSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUsuariosViewLink}"/>
                <br />
                <h:commandLink action="#{usuariosController.prepareList}" value="#{bundle.EditUsuariosShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUsuariosIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
