<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCompaniesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCompaniesLabel_idCompanies}" for="idCompanies" />
                    <h:inputText id="idCompanies" value="#{companiesController.selected.idCompanies}" title="#{bundle.CreateCompaniesTitle_idCompanies}" required="true" requiredMessage="#{bundle.CreateCompaniesRequiredMessage_idCompanies}"/>
                    <h:outputLabel value="#{bundle.CreateCompaniesLabel_nombre}" for="nombre" />
                    <h:inputText id="nombre" value="#{companiesController.selected.nombre}" title="#{bundle.CreateCompaniesTitle_nombre}" />
                    <h:outputLabel value="#{bundle.CreateCompaniesLabel_nit}" for="nit" />
                    <h:inputText id="nit" value="#{companiesController.selected.nit}" title="#{bundle.CreateCompaniesTitle_nit}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{companiesController.create}" value="#{bundle.CreateCompaniesSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{companiesController.prepareList}" value="#{bundle.CreateCompaniesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCompaniesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
