<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListBalanceTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListBalanceEmpty}" rendered="#{balanceController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{balanceController.items.rowCount > 0}">
                    <h:outputText value="#{balanceController.pagination.pageFirstItem + 1}..#{balanceController.pagination.pageLastItem + 1}/#{balanceController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{balanceController.previous}" value="#{bundle.Previous} #{balanceController.pagination.pageSize}" rendered="#{balanceController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{balanceController.next}" value="#{bundle.Next} #{balanceController.pagination.pageSize}" rendered="#{balanceController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{balanceController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBalanceTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBalanceTitle_usuariosidUsuarios1}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuariosidUsuarios1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListBalanceTitle_companiesidCompanies1}"/>
                            </f:facet>
                            <h:outputText value="#{item.companiesidCompanies1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{balanceController.prepareView}" value="#{bundle.ListBalanceViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{balanceController.prepareEdit}" value="#{bundle.ListBalanceEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{balanceController.destroy}" value="#{bundle.ListBalanceDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{balanceController.prepareCreate}" value="#{bundle.ListBalanceCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListBalanceIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
