<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCompaniesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCompaniesLabel_idCompanies}"/>
                    <h:outputText value="#{companiesController.selected.idCompanies}" title="#{bundle.ViewCompaniesTitle_idCompanies}"/>
                    <h:outputText value="#{bundle.ViewCompaniesLabel_nombre}"/>
                    <h:outputText value="#{companiesController.selected.nombre}" title="#{bundle.ViewCompaniesTitle_nombre}"/>
                    <h:outputText value="#{bundle.ViewCompaniesLabel_nit}"/>
                    <h:outputText value="#{companiesController.selected.nit}" title="#{bundle.ViewCompaniesTitle_nit}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{companiesController.destroyAndView}" value="#{bundle.ViewCompaniesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCompaniesEditLink}"/>
                <br />
                <h:commandLink action="#{companiesController.prepareCreate}" value="#{bundle.ViewCompaniesCreateLink}" />
                <br />
                <h:commandLink action="#{companiesController.prepareList}" value="#{bundle.ViewCompaniesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCompaniesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
