<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="/balance/List" value="Show All Balance Items"/>
        <br />
        <h:link outcome="/companies/List" value="Show All Companies Items"/>
        <br />
        <h:link outcome="/cuentHasCompHasBal/List" value="Show All CuentHasCompHasBal Items"/>
        <br />
        <h:link outcome="/cuentas/List" value="Show All Cuentas Items"/>
        <br />
        <h:link outcome="/cuentasHasCompanies/List" value="Show All CuentasHasCompanies Items"/>
        <br />
        <h:link outcome="/pyg/List" value="Show All Pyg Items"/>
        <br />
        <h:link outcome="/pygHasCuentasHasCompanies/List" value="Show All PygHasCuentasHasCompanies Items"/>
        <br />
        <h:link outcome="/registros/List" value="Show All Registros Items"/>
        <br />
        <h:link outcome="/registrosHasCompanies/List" value="Show All RegistrosHasCompanies Items"/>
        <br />
        <h:link outcome="/usuarios/List" value="Show All Usuarios Items"/>
    </h:body>










</html>

