<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPygHasCuentasHasCompaniesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPygHasCuentasHasCompaniesLabel_id}" for="id" />
                    <h:inputText id="id" value="#{pygHasCuentasHasCompaniesController.selected.id}" title="#{bundle.EditPygHasCuentasHasCompaniesTitle_id}" required="true" requiredMessage="#{bundle.EditPygHasCuentasHasCompaniesRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditPygHasCuentasHasCompaniesLabel_cuentashasCompaniesid}" for="cuentashasCompaniesid" />
                    <h:selectOneMenu id="cuentashasCompaniesid" value="#{pygHasCuentasHasCompaniesController.selected.cuentashasCompaniesid}" title="#{bundle.EditPygHasCuentasHasCompaniesTitle_cuentashasCompaniesid}" required="true" requiredMessage="#{bundle.EditPygHasCuentasHasCompaniesRequiredMessage_cuentashasCompaniesid}">
                        <f:selectItems value="#{cuentasHasCompaniesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditPygHasCuentasHasCompaniesLabel_PYGid}" for="PYGid" />
                    <h:selectOneMenu id="PYGid" value="#{pygHasCuentasHasCompaniesController.selected.PYGid}" title="#{bundle.EditPygHasCuentasHasCompaniesTitle_PYGid}" required="true" requiredMessage="#{bundle.EditPygHasCuentasHasCompaniesRequiredMessage_PYGid}">
                        <f:selectItems value="#{pygController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{pygHasCuentasHasCompaniesController.update}" value="#{bundle.EditPygHasCuentasHasCompaniesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPygHasCuentasHasCompaniesViewLink}"/>
                <br />
                <h:commandLink action="#{pygHasCuentasHasCompaniesController.prepareList}" value="#{bundle.EditPygHasCuentasHasCompaniesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPygHasCuentasHasCompaniesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
