<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRegistrosHasCompaniesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRegistrosHasCompaniesLabel_id}"/>
                    <h:outputText value="#{registrosHasCompaniesController.selected.id}" title="#{bundle.ViewRegistrosHasCompaniesTitle_id}"/>
                    <h:outputText value="#{bundle.ViewRegistrosHasCompaniesLabel_cuentashasCompaniesid}"/>
                    <h:outputText value="#{registrosHasCompaniesController.selected.cuentashasCompaniesid}" title="#{bundle.ViewRegistrosHasCompaniesTitle_cuentashasCompaniesid}"/>
                    <h:outputText value="#{bundle.ViewRegistrosHasCompaniesLabel_registrosidRegistros}"/>
                    <h:outputText value="#{registrosHasCompaniesController.selected.registrosidRegistros}" title="#{bundle.ViewRegistrosHasCompaniesTitle_registrosidRegistros}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{registrosHasCompaniesController.destroyAndView}" value="#{bundle.ViewRegistrosHasCompaniesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewRegistrosHasCompaniesEditLink}"/>
                <br />
                <h:commandLink action="#{registrosHasCompaniesController.prepareCreate}" value="#{bundle.ViewRegistrosHasCompaniesCreateLink}" />
                <br />
                <h:commandLink action="#{registrosHasCompaniesController.prepareList}" value="#{bundle.ViewRegistrosHasCompaniesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewRegistrosHasCompaniesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
