<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPygTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPygLabel_id}" for="id" />
                    <h:inputText id="id" value="#{pygController.selected.id}" title="#{bundle.EditPygTitle_id}" required="true" requiredMessage="#{bundle.EditPygRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditPygLabel_usuariosidUsuarios}" for="usuariosidUsuarios" />
                    <h:selectOneMenu id="usuariosidUsuarios" value="#{pygController.selected.usuariosidUsuarios}" title="#{bundle.EditPygTitle_usuariosidUsuarios}" required="true" requiredMessage="#{bundle.EditPygRequiredMessage_usuariosidUsuarios}">
                        <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditPygLabel_companiesidCompanies}" for="companiesidCompanies" />
                    <h:selectOneMenu id="companiesidCompanies" value="#{pygController.selected.companiesidCompanies}" title="#{bundle.EditPygTitle_companiesidCompanies}" required="true" requiredMessage="#{bundle.EditPygRequiredMessage_companiesidCompanies}">
                        <f:selectItems value="#{companiesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{pygController.update}" value="#{bundle.EditPygSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditPygViewLink}"/>
                <br />
                <h:commandLink action="#{pygController.prepareList}" value="#{bundle.EditPygShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditPygIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
